.main{
    background-image: url('/img/Main.png');
    max-height: 971px;
    display: grid;
    grid-template-columns: 1fr 1080px;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 19px;
}

.main .social-icons{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 76px;
    width: 20px;
}

.main .social-icons img:nth-child(1){
    width: 9.5px;
    margin-bottom: 20px;
}

.main .social-icons img:nth-child(2){
    width: 17.4px;
    margin-bottom: 20px;
}

.main .social-icons img:nth-child(3){
    width: 20px;
    margin-bottom: 20px;
}

.main .social-icons img:nth-child(4){
    width: 17px;
    margin-bottom: 20px;
}

.main .social-icons img:nth-child(5){
    width: 19px;
}

.main .leader{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.main .leader .leader-bord{
    margin-left: 356px;
    width: 124px;
    border-top: 4px solid #FCD54C;
    border-left: 4px solid #FCD54C;
    border-bottom: 4px solid #FCD54C;
    font-family: 'Work Sans';
    color: #fff;
}

.main .leader .leader-bord .leader-inc{
    margin-top: 44px;
    margin-left: 28px;
    margin-bottom: 51px;
    width: 714px;
    border: 0 solid red;
}

.main .leader .leader-bord .leader-inc span{
   font-size: 16px;
   line-height: 19px;
   text-transform: uppercase;
   padding-bottom: 22px;
}

.main .leader .leader-bord .leader-inc h1{
    font-family: 'Space Grotesk';
    font-size: 96px;
    line-height: 100px;
    font-weight: 700;
    padding-bottom: 22px;
}

.main .leader .leader-bord .leader-inc h1 span{
    font-family: 'Space Grotesk';
    font-size: 96px;
    line-height: 100px;
    font-weight: 700;
    color: #FCD54C;
    text-transform: none;
}

.main .leader .leader-bord .leader-inc a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

.main .leader .leader-bord .leader-inc a .pointer{
    padding-left: 6px;
    vertical-align: middle;
}

.main .bottom-part{
    order:1;
    grid-column: 2/3;
    background-color: #272727;
    color: #fff;
    font-family: 'Work Sans';
}

.main .bottom-part .bottom-01{
    font-family: 'Gilroy Bold';
    font-size: 60px;
    line-height: 24px;
    color: #FCD54C;
    padding-top: 71px;
    padding-left: 60px;
    padding-right: 37px;
    float: left;
    padding-bottom: 54px;
}

.main .bottom-part p{
    width: 116px;
    height: 52px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    float: left;
    margin-top: 58px;
    margin-right: 121px;
}

.main .bottom-part p:last-child{
    float: right;

}

.main .bottom-part span{
    font-family: 'Gilroy Bold';
    font-size: 60px;
    line-height: 24px;
    float: left;
    padding-right: 37px;
    padding-top: 71px;
}



.projects{
    margin-top: 105px;
}

.projects h4{
    font-family: 'Gilroy Bold';
    font-size: 48px;
    line-height: 69px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-left: 346px;
    float: left;
    margin-right: 375px;
}

.projects ul{
    list-style-type: none;

}

.projects ul li:nth-child(1){
    margin-right: 34px;
    float: left;
    margin-top: 29px;
}

.projects ul li:nth-child(2){
    float: left;
    margin-top: 29px;
}

.projects ul li:nth-child(3){
    margin-left: 28px;
    float: left;
    margin-top: 29px;
}

.projects ul li a{
    color: #fff;
    font-family: 'Work Sans';
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    text-decoration: none;
}

.projects ul li a:hover{
    color: #FCD54C;
    transition: 0.6s;
}

.projects p{
    margin-top: 29px;
    font-family: 'Gilroy SemiBold';
    font-style: italic;
    font-size: 16px;
    line-height: 21px;
    color: #929292;
    float: right;
    margin-right: 360px;
}

.projects .show-projects{
    clear: both;
    display: grid;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    grid-template-rows: 572px;
    column-gap: 2%;
    overflow: hidden;
    padding-bottom: 113px;
}

.projects .show-projects img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center -15px;
    height: 572px;
}

.projects .show-projects div{
    margin-top: 77px;
    position: relative;
}

.projects .show-projects div .unvisible-part{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FCD54C;
    opacity: 0;
    transition: 1s;
    padding: 0;
    overflow: hidden;
}

.projects .show-projects div .unvisible-part h5{
    font-family: 'Gilroy Bold';
    font-size: 32px;
    line-height: 45px;
    color: #272727;
    padding-top: 46px;
    padding-left: 30px;
}

.projects .show-projects div .unvisible-part a{
    text-decoration: none;
    color: #272727;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-left: 30px;
}

.projects .show-projects div .unvisible-part a .pointer2{
    color: #272727;
    padding-left: 17px;
}

.hide-part{
    transition: 1s;
}

.projects .show-projects div:hover .hide-part{
    top: 0;
    left: 0;
    opacity: 1;
    transition: 1s;
    cursor: pointer;
    margin-top: 0px;
    height: 556px;
}


.our-expertise{
    margin-top: 70px;
    margin-left: calc(601px - 55px);
    max-width: 730px;
    font-family: 'Work Sans';
    line-height: 29px;
    font-size: 18px;
    color: #E8E8E8;
    padding-bottom: 89px;
}

.our-expertise p{
    color: #FCD54C;
    margin-bottom: 40px;
    font-weight: 600;
}

.our-expertise h2{
    font-family: 'Gilroy Bold';
    font-size: 70px;
    line-height: 69px;
    margin-bottom: 33px;
}

.video img{
    width:100%;
    max-width: 100%;
    height: 921px;
}

.video .play img{
    width: 122px;
    height: 122px;
    position: absolute;
    margin-top: -522px;
    margin-left: 838px;
}

.quote{
    margin-top: 119px;
    margin-left: calc(405px);
    max-width: 1110px;
    border:#FCD54C 1px solid;
}

.quote p{
    font-family: 'Gilroy Regular';
    padding: 70px 94px 69px 97px;
    color: #fff;
    font-size: 30px;
    line-height: 160%;
}

.quote p span{
    color: #FCD54C;
}


.discribe{
    display: grid;
    grid-template-columns: 543px 543px;
    grid-template-rows: 312px 406px;
    margin-top: 64px;
    margin-left: 405px;
    overflow: hidden;
    column-gap: 23px;
    row-gap: 70px;
}

.discribe .discr-1 img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center -117px;
}

.discribe .discr-2 img{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.discribe .discr-3 p{
    font-family: 'Work Sans';
    font-size: 18px;
    line-height: 29px;
    color: #E8E8E8;
}


.contact-us{
    margin-top: 115px;
    width: 100%;
    background: url('/img/bg.png'), #FCD54C;
    background-blend-mode: overlay, normal;
    background-position: center 880px;
    justify-content: center;
}

.contact-us .contact-center{
    padding-left: 596px;
    margin-bottom: 85px;
    justify-content: center;
    display: contents;
    width: 611px;
}

.contact-us .contact-center p{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    padding-top: 87px;
}

.contact-us .contact-center h2{
    font-family: 'Gilroy Bold';
    font-size: 120px;
    line-height: 69px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 54px;
}

.contact-us .contact-center .email{
    margin-left: 665px;
    padding-bottom: 85px;
}

.contact-us .contact-center .email input{
    color: rgba(39, 39, 39, 0.5);
    width: 100%;
    max-width: 307px;
    height: 64px;
    border: 0;
    box-sizing: border-box;
    background-color: #fff;
    outline: 0;
    padding-left: 28px;
    font-size: 16px;
    line-height: 175%;
}

.contact-us .contact-center button{
    color: #fff;
    width: 100%;
    max-width: 165px;
    height: 64px;
    border: 0;
    box-sizing: border-box;
    background-color: #272727;
    outline: 0;
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin-left: -4px;
}



/*Coments*/
.faq{
    max-width: 56%;
    margin-top: 110px;
    margin-right: 22%;
    margin-left: 22%;
    margin-top: 110px;
    padding-bottom: 122px;
}

.faq h3{
    color: #fff;
    font-family: 'Gilroy Bold';
    font-size: 70px;
    line-height: 60px;
    margin-bottom: 30px;
}

.accordion-item:first-of-type .accordion-button{
    background-color: #272727;
    color: #fff;
    font-family: 'Work Sans';
    font-size: 18px;
    line-height: 130%;
}

.accordion-item:nth-of-type(2) .accordion-button{
    background-color: #272727;
    color: #fff;
    font-family: 'Work Sans';
    font-size: 18px;
    line-height: 130%;
}

.accordion-item:nth-of-type(3) .accordion-button{
    background-color: #272727;
    color: #fff;
    font-family: 'Work Sans';
    font-size: 18px;
    line-height: 130%;
}

.accordion-body{
    background-color: #272727;
    color: #E8E8E8;
    font-family: 'Work Sans';
    font-size: 14px;
    line-height: 160%;
}

